#resume {
  .about {
    .me {
      text-align: justify;
      line-height: 2rem;
      margin-top: 25px;
      width: 90vw;
    }

    .language {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 30px;
      margin-top: 3rem;

      .icon {
        font-size: 30px;
        cursor: pointer;
        text-shadow: 0 0 35px rgba(240, 124, 255, 0.322);
        transition: font-size 0.2s ease-in-out; 
        display: block;
      }
      
      .icon.reversed:hover {
        font-size: 65px !important; 
      }

      .icon.reversed:nth-of-type(1):hover {
        font-size: 100px !important; 
      }

      .icon:hover {
        font-size:75px !important; 
      }

      .icon:nth-of-type(1):hover {
        font-size: 90px !important;
      }

      .icon:nth-of-type(5):hover {
        font-size: 65px !important;
      }


      @keyframes spinClockwise {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
      
      @keyframes spinAntiClockwise {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(-360deg);
        }
      }
      
      .icon:not(.reversed) {
        animation: spinClockwise 20s infinite linear;
      }
      
      .icon.reversed {
        animation: spinAntiClockwise 20s infinite linear;
      }

      .icon.faster {
        animation-duration: 10s; 
      }

      .icon.slow {
        animation-duration: 35s; 
      }

      .icon.slower {
        animation-duration: 25s; 
      }
    }
  }


  @keyframes animateGradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  h2 {
    font-size: 1.5rem;
  }
}

/* TABLET */

@media screen and (min-width: 768px) and (max-width: 1199px) {
  #resume{
    margin-top: 10rem !important;
    .language{
      gap: 90px !important;
    }
  }
}

/* DESKTOP */

@media screen and (min-width: 1200px) {
  #resume {
    margin-top: 12rem !important;
    .about {
      display: flex;

      .me {
        width: 40vw;
        line-height: 45px !important;
      }

      .language {
        grid-template-columns: repeat(3, 1fr) !important;
        margin-left: 20vw;
        gap: 100px !important;
        margin-top: inherit !important;

        .icon:nth-of-type(1) {
          font-size: 100px;
        }

        .icon:nth-of-type(2) {
          font-size: 60px;
        }

        .icon:nth-of-type(3) {
          font-size: 90px;
        }

        .icon:nth-of-type(4) {
          font-size: 50px;
        }

        .icon:nth-of-type(5) {
          font-size: 70px;
        }

        .icon:nth-of-type(6) {
          font-size: 45px;
        }
      }
    }

    .title-container {
      width: 40vw;
    }

    h2 {
      font-size: 2.5rem;
    }
  }
}

@media screen and (max-width: 376px) {
  #resume {
    padding-top: 15rem !important;
  }
}
