#resume {
  margin-top: 5rem !important;
  .about {
    .me {
      text-align: justify;
      line-height: 2rem;
      margin-top: 25px;
      width: 90vw;
    }

    .language {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 30px;
      margin-top: 3rem;

      .icon {
        font-size: 30px;
        cursor: pointer;
        text-shadow: 0 0 30px rgba(240, 124, 255, 0.322);
      }

      @keyframes spinClockwise {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
      
      @keyframes spinAntiClockwise {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(-360deg);
        }
      }
      
      .icon:not(.reversed) {
        animation: spinClockwise 20s infinite linear;
      }
      
      .icon.reversed {
        animation: spinAntiClockwise 20s infinite linear;
      }

      .icon.faster {
        animation-duration: 10s; 
      }

      .icon.slow {
        animation-duration: 35s; 
      }

      .icon.slower {
        animation-duration: 25s; 
      }
    }
  }
  .title-container {
    position: relative;
    width: 90vw;
    padding-bottom: 10px;
  }

  .title-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(45deg, #ed71ad, #7277f1);
    background-size: 200% 100%;
    animation: animateGradient 3s infinite;
  }

  @keyframes animateGradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  h2 {
    font-size: 1.5rem;
  }
}

/* TABLET */

@media screen and (min-width: 768px) and (max-width: 1199px) {
  #resume{
    .language{
      gap: 90px !important;
    }
  }
}

/* DESKTOP */

@media screen and (min-width: 1200px) {
  #resume {
    margin-top: 12rem !important;
    .about {
      display: flex;

      .me {
        width: 40vw;
      }

      .language {
        grid-template-columns: repeat(3, 1fr) !important;
        margin-left: 20vw;
        gap: 70px !important;
        margin-top: inherit !important;

        .icon:nth-of-type(1) {
          font-size: 100px;
        }

        .icon:nth-of-type(2) {
          font-size: 75px;
        }

        .icon:nth-of-type(3) {
          font-size: 85px;
        }

        .icon:nth-of-type(4) {
          font-size: 50px;
        }

        .icon:nth-of-type(5) {
          font-size: 65px;
        }

        .icon:nth-of-type(6) {
          font-size: 90px;
        }
      }
    }

    .title-container {
      width: 40vw;
    }

    h2 {
      font-size: 2.5rem;
    }
  }
}

@media screen and (max-width: 768px) {
  #resume {
    margin-top: 10rem;
  }
}
