html {
  color: white;
  background-color: black;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  width: 95%;
  margin: 0 auto;
}

* h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Melodrama", serif;
}

.title {
  opacity: 0;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  z-index: 100;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#preloader #percent {
  color: white;
  font-family: "Roboto", sans-serif;
}
#preloader #bar {
  width: 60%;
  margin-top: 20px;
}
#preloader #barconfirm {
  width: 1%;
  padding: 1px 0px;
  background-color: black;
}

#container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: black;
}

.title-container {
  position: relative;
  width: 90vw;
  padding-bottom: 10px;
}

.title-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(45deg, #ed71ad, #7277f1);
  background-size: 200% 100%;
  animation: animateGradient 3s infinite;
}

.hidden {
  opacity: 0;
}

* a {
  color: white;
}

.hireme {
  background: linear-gradient(45deg, #ed71ad, #7277f1);
  text-align: center;
  cursor: pointer;
  border-radius: 1rem;
  margin-top: 1rem;
  width: 35vw;
}

#work {
  margin-top: 5rem;
}
#work h2 {
  font-size: 1.5rem;
}
#work .right,
#work .left {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
}
#work .right .projectTitle,
#work .left .projectTitle {
  text-align: center;
  font-size: 1.2rem;
  margin: 1.5rem 0 1rem 0;
}
#work .right .showcase .headerVideo, #work .right .showcase .imgHeader,
#work .left .showcase .headerVideo,
#work .left .showcase .imgHeader {
  width: 90vw;
}
#work .right .description,
#work .left .description {
  width: 90vw;
  text-align: center;
  line-height: 2rem;
}
#work .right .icon-container,
#work .left .icon-container {
  text-align: center;
}
#work .right .icon,
#work .left .icon {
  font-size: 1.5rem;
  margin: 1rem 0.2rem;
}
#work .right .code,
#work .left .code {
  text-align: center;
}
#work .left {
  flex-direction: column-reverse;
}

#resume .about .me {
  text-align: justify;
  line-height: 2rem;
  margin-top: 25px;
  width: 90vw;
}
#resume .about .language {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 30px;
  margin-top: 3rem;
}
#resume .about .language .icon {
  font-size: 30px;
  cursor: pointer;
  text-shadow: 0 0 35px rgba(240, 124, 255, 0.322);
  transition: font-size 0.2s ease-in-out;
  display: block;
}
#resume .about .language .icon.reversed:hover {
  font-size: 65px !important;
}
#resume .about .language .icon.reversed:nth-of-type(1):hover {
  font-size: 100px !important;
}
#resume .about .language .icon:hover {
  font-size: 75px !important;
}
#resume .about .language .icon:nth-of-type(1):hover {
  font-size: 90px !important;
}
#resume .about .language .icon:nth-of-type(3):hover {
  font-size: 87px !important;
}
#resume .about .language .icon:nth-of-type(5):hover {
  font-size: 65px !important;
}
@keyframes spinClockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinAntiClockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
#resume .about .language .icon:not(.reversed) {
  animation: spinClockwise 20s infinite linear;
}
#resume .about .language .icon.reversed {
  animation: spinAntiClockwise 20s infinite linear;
}
#resume .about .language .icon.faster {
  animation-duration: 10s;
}
#resume .about .language .icon.slow {
  animation-duration: 35s;
}
#resume .about .language .icon.slower {
  animation-duration: 25s;
}
@keyframes animateGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#resume h2 {
  font-size: 1.5rem;
}

#contact {
  margin-top: 5rem;
}
#contact .glowBox {
  position: relative;
  height: 300px;
}
#contact .glowBox h2 {
  text-align: center;
  font-size: 1.5rem;
  padding-top: 2rem;
}
#contact .glowBox::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
  border: 1px solid transparent;
  -o-border-image: linear-gradient(45deg, #ed71ad, #7277f1);
     border-image: linear-gradient(45deg, #ed71ad, #7277f1);
  border-image-slice: 1;
  animation: animateBorder 3s infinite alternate;
}
@keyframes animateBorder {
  0% {
    border-image-source: linear-gradient(45deg, #ed71ad, #7277f1);
  }
  100% {
    border-image-source: linear-gradient(45deg, #7277f1, #ed71ad);
  }
}
#contact #form {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 90vw;
  margin: 0 auto;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
#contact #form input, #contact #form textarea {
  color: white;
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
}
#contact #form button {
  background: linear-gradient(45deg, #ed71ad, #7277f1);
  text-align: center;
  cursor: pointer;
  border-radius: 1rem;
  margin-top: 1rem;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  transition: transform 0.2s ease-in-out;
}
#contact #form button:hover {
  transform: translateY(-5px);
}

header {
  height: 100vh !important;
}
header .component-header {
  display: flex;
}
header .component-header .logo {
  display: none;
}
header .component-header .navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
}
header .component-header .navbar .menu-ham {
  display: block;
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
  margin-left: 10px;
  margin-top: 10px;
  width: 20px;
  height: 20px;
  z-index: 99999;
  position: absolute;
}
header .component-header .navbar .nav-links {
  top: 0;
  left: 0;
  position: absolute;
  background: linear-gradient(45deg, #ed71ad, #7277f1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -100%;
  transition: all 0.2s ease;
  z-index: 999;
}
header .component-header .navbar .nav-links.mobile-menu {
  margin-left: 0;
  color: black;
}
header .component-header .navbar .nav-links ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .component-header .navbar .nav-links ul li {
  margin: 25px 0;
}
header .component-header .navbar .nav-links ul li a {
  color: white;
}
header .landing {
  position: relative;
  margin-top: 50%;
}
header .landing .division {
  display: flex;
}
header .landing .division .texte {
  display: flex;
  padding-top: 8rem;
}
header .landing .division .texte h1 {
  font-size: 1.2rem;
  padding-top: 4rem;
  line-height: 2.2rem;
}
header .landing .division .texte h1 i {
  font-size: 0.8rem;
  cursor: pointer;
}
header .landing .division .circle {
  display: block;
  position: absolute;
  width: 600px;
  height: 600px;
  background: linear-gradient(45deg, #ed71ad, #7277f1);
  border-radius: 50% 20% 80% 30%/40% 10% 70% 20%;
  animation: pulse 2s ease-in-out infinite alternate, glow 2s ease-in-out infinite alternate;
  box-shadow: 0 0 20px 5px rgba(237, 113, 173, 0.7);
  right: 0;
  bottom: 1;
  z-index: -1;
  margin-right: 2rem;
}
@keyframes pulse {
  0% {
    border-radius: 50% 20% 80% 30%/40% 60% 70% 10%;
  }
  100% {
    border-radius: 40% 60% 70% 10%/50% 20% 80% 30%;
  }
}
@keyframes glow {
  0%, 100% {
    box-shadow: 0 0 20px 5px rgba(237, 113, 173, 0.7);
  }
  50% {
    box-shadow: 0 0 50px 10px rgba(237, 113, 173, 0.9);
  }
}

/* TABLET */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  #resume {
    margin-top: 10rem !important;
  }
  #resume .language {
    gap: 90px !important;
  }
  header .landing {
    margin-top: 10rem !important;
  }
  header .landing .circle {
    width: 900px !important;
    height: 900px !important;
  }
  header .landing .division p {
    margin-top: 5rem;
  }
  header .landing .division h1 {
    font-size: 2rem !important;
    padding-left: 5rem !important;
    line-height: 3rem !important;
    padding-top: 10rem !important;
  }
  header .landing .division h1 i {
    font-size: 1rem !important;
  }
  .hireme {
    width: 20vw !important;
  }
}
/* DESKTOP */
@media screen and (min-width: 1200px) {
  #resume {
    margin-top: 12rem !important;
  }
  #resume .about {
    display: flex;
  }
  #resume .about .me {
    width: 40vw;
    line-height: 45px !important;
  }
  #resume .about .language {
    grid-template-columns: repeat(3, 1fr) !important;
    margin-left: 20vw;
    gap: 100px !important;
    margin-top: inherit !important;
  }
  #resume .about .language .icon:nth-of-type(1) {
    font-size: 100px;
  }
  #resume .about .language .icon:nth-of-type(2) {
    font-size: 60px;
  }
  #resume .about .language .icon:nth-of-type(3) {
    font-size: 90px;
  }
  #resume .about .language .icon:nth-of-type(4) {
    font-size: 50px;
  }
  #resume .about .language .icon:nth-of-type(5) {
    font-size: 70px;
  }
  #resume .about .language .icon:nth-of-type(6) {
    font-size: 45px;
  }
  #resume .title-container {
    width: 40vw;
  }
  #resume h2 {
    font-size: 2.5rem;
  }
  header .component-header {
    margin-top: 10px;
    display: flex;
    padding-top: 30px;
    border-top: 1px solid white;
  }
  header .component-header .logo {
    display: inherit !important;
    cursor: pointer;
  }
  header .component-header .navbar {
    position: inherit !important;
    top: inherit !important;
    left: inherit !important;
    width: 100% !important;
  }
  header .component-header .navbar .nav-links {
    top: inherit !important;
    left: inherit !important;
    position: relative !important;
    background: none !important;
    -webkit-backdrop-filter: none !important;
            backdrop-filter: none !important;
    width: inherit !important;
    height: inherit !important;
    display: flex;
    justify-content: inherit !important;
    align-items: inherit !important;
    margin-left: inherit !important;
  }
  header .component-header .navbar .nav-links ul {
    position: absolute !important;
    right: 0 !important;
    display: flex;
    flex-direction: inherit !important;
    align-items: inherit !important;
    gap: 145px;
  }
  header .component-header .navbar .nav-links ul li {
    margin: inherit !important;
  }
  header .component-header .navbar .nav-links ul li a {
    position: relative;
  }
  header .component-header .navbar .nav-links ul li a::before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease;
    background: linear-gradient(45deg, #ed71ad, #7277f1);
  }
  header .component-header .navbar .nav-links ul li a:hover::before {
    transform: scaleX(1);
  }
  header .component-header .menu-ham {
    display: none !important;
  }
  .landing {
    margin-top: 7rem !important;
  }
  .landing .division {
    display: flex;
  }
  .landing .division .texte {
    padding-top: 15rem !important;
  }
  .landing .division .texte p {
    margin-top: 1.5rem;
  }
  .landing .division .texte h1 {
    font-size: 4rem !important;
    padding-left: 10rem !important;
    line-height: inherit !important;
    padding-top: 0.1rem !important;
  }
  .landing .division .texte h1 i {
    font-size: 2rem !important;
  }
  .landing .division .texte .highlight {
    position: relative;
  }
  .landing .division .texte .highlight::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 35px;
    background-color: white;
    z-index: -1;
    padding: 2px;
    width: 30rem;
  }
  .landing .division .circle {
    width: 850px !important;
    height: 800px !important;
    margin-right: 3rem !important;
  }
  .hireme {
    background: linear-gradient(45deg, #ed71ad, #7277f1);
    color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 2rem !important;
    width: 10vw !important;
    margin-top: 2rem !important;
    transition: transform 0.2s ease-in-out;
  }
  .hireme:hover {
    transform: translateY(-5px);
  }
  .projectTitle {
    font-size: 2rem !important;
    margin-bottom: 1rem !important;
  }
  #work {
    margin-top: 12rem !important;
  }
  #work .title-container {
    width: 40vw;
  }
  #work h2 {
    font-size: 2.5rem !important;
  }
  #work .right {
    display: flex !important;
    flex-direction: inherit !important;
  }
  #work .right .showcase {
    width: 40vw !important;
  }
  #work .right .showcase .headerVideo, #work .right .showcase .imgHeader {
    width: 40vw !important;
    margin-right: 12.5vw;
    cursor: pointer;
  }
  #work .right .showcase .headerVideo:hover, #work .right .showcase .imgHeader:hover {
    transition: transform 0.5s ease-in-out;
    transform: scale(1.05);
  }
  #work .right .description {
    line-height: 45px !important;
    margin: auto;
    width: 40vw !important;
  }
  #work .left {
    display: flex !important;
    margin-top: 25px !important;
    flex-direction: inherit !important;
  }
  #work .left .showcase {
    width: 40vw !important;
  }
  #work .left .showcase .headerVideo, #work .left .showcase .imgHeader {
    width: 40vw !important;
    cursor: pointer;
    margin-left: 12.5vw;
  }
  #work .left .showcase .headerVideo:hover, #work .left .showcase .imgHeader:hover {
    transition: transform 0.5s ease-in-out;
    transform: scale(1.05);
  }
  #work .left .description {
    line-height: 45px !important;
    width: 40vw !important;
    margin: auto 0;
  }
}
@media screen and (max-width: 376px) {
  #resume {
    padding-top: 15rem !important;
  }
  #contact {
    display: flex;
    justify-content: center;
  }
  .glowBox {
    text-align: center;
    position: relative;
    margin-top: 12rem !important;
    width: 100vw !important;
    height: 500px !important;
  }
  .glowBox h2 {
    font-size: 2.5rem !important;
    margin-top: 2rem !important;
  }
  .glowBox #form {
    width: 70vw !important;
    gap: 2.5rem !important;
  }
  .glowBox #form button {
    display: block;
    margin: 1rem auto;
    width: 5vw !important;
  }
}/*# sourceMappingURL=style.css.map */